.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.navBarConnectWallet {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  --radix-connect-button-border-radius: 12px;
}

.navBarItem {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 0 10px;
  padding: 5px 10px;
  transition: color 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.navBarItem:hover {
  color: #006699; /* Dark teal/bluish color */
}

@media (max-width: 600px) {
  .navBar {
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
  }

  .navBarItem {
    margin: 5px;
    padding: 3px 8px;
  }
}

/* Create a container for the main content */
.mainContainer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  height: 100%; /* Fill the full height of the viewport */
}

/* Apply a golden ratio layout for the main content */
.mainContent {
  max-width: calc(100vw - 40px); /* Adjust margins accordingly */
  width: 61.8%; /* Golden ratio */
  padding: 20px;
}

/* Apply responsive design for smaller screens */
@media (max-width: 768px) {
  .mainContent {
    width: 100%;
  }
}
