/* Styles for the card list container */
.cardListContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Define the grid columns */
  gap: 20px; /* Gap between cards */
}

.cardDescription {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the text towards the top */
  text-align: center; /* Left-align the text content */
}

.cardButton {
  border-radius: 50px;
}

.cardDisabled {
  background: rgba(
    4,
    49,
    65,
    0.4
  ); /* Use rgba to add a grey tint with reduced opacity */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Add a subtle border */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
