.card {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--gray-200);
  background: var(--white);
  box-shadow: var(--shadow-md), 0 0 10px rgba(0, 0, 0, 0.1); /* Combined shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task_card {
  width: 224px; /* Width of a playing card */
  height: 320px; /* Adjusted height for a playing card look */
  background-color: #64c9eb; /* Light blue color */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.1); /* Combined shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
  
@media screen and (max-width: 1330px) {
  .card {
    grid-template-columns: 1fr;
  }
  .outer-card {
    width: 33.375rem;
  }
}
  