.cardDescription {
  font-weight: bold;
  padding: 15px 0; /* Padding around the description */
  text-align: left; /* Left-justify the text */
}

  
@media screen and (max-width: 1330px) {
  .card {
    grid-template-columns: 1fr;
  }
  .outer-card {
    width: 33.375rem;
  }
}
  